---
layout: default
title: Liquid Change
byline: 2 minutes of internet fame
---

<p>I build things for the web using Drupal. My goal is keeping content maintainable and helping it to really shine. <em>Liquid Change</em> is my personal website, where I can learn out loud and write about whatever.</p>

{% if post %}
  <h2>Things I've written</h2>
{% endif %}

<ul>
    {% for post in site.posts %}
    <li>
        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
        <p class="post-date">{{ post.date | date: "%d %B %Y" }}</p>
        <p>{{ post.summary }}</p>
    </li>
    {% endfor %}
</ul>
